@import url(../../base.css);

.input__wrapper {
    display: flex;
    flex-direction: column;    
    gap: 0.5rem;
    width: 100%;    
}

.input__wrapper--exp {
    display: flex;
    flex-direction: column;   
    min-width: 76px;
    width: 36%;
    gap: 0.5rem;
}

.input__wrapper--cvc {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.input__label {
    color: var(--very-dark-violet);
    font-size: 12px;
    letter-spacing: 2px;
}

.input {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1.5px solid;
    border-color: var(--light-grayish-violet);
    box-sizing: border-box;

}

.input:focus {
    outline: none;
    border-color:  hsl(249, 99%, 64%);
}

.input--exp {
    width: 100%;
}

.input--cvc {
    width: 100%;
}

.input::placeholder {
    color: var( --dark-grayish-violet);
    opacity: 0.5;
    font-size: 18px;
}

.input__error--text{
    color: var(--red);
    font-size: 0.8rem;
    display: none;
}

input:invalid[focused="true"] ~ span {
    display: block;
}

input:invalid[focused="true"] {
    border-color: var(--red);
}