@import url(../../base.css);

.complete__container {
    height: 40%;
    margin: 5.875rem 1.5rem 2.8rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
}

h1 {
    font-size: 28px;
    color: var(--very-dark-violet);
    letter-spacing: 1.5px;
}

.complete__container p {
    color: var(--dark-grayish-violet);
    margin-top: -1.5rem;
}