@import url(../../base.css);

.card-background {
    background-image: url(../../../images/bg-main-mobile.png);
    width: 100vw;
    height: 100vh;
    max-height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    width: 100vw;
    max-width: 375px;
    height: 100%;
    position: relative;
}

@media screen and (min-width: 768px) {
    .card-wrapper {        
        max-width: 400px;       
    }
}

@media screen and (min-width: 1440px) {
    .card-background {
        background-image: url(../../../images/bg-main-desktop.png);
        width: 100%;
        max-width: 482px;
        height: 100vh;
        max-height: max-content;
        align-items: center;
    }

    .card-wrapper {
        width: 100%;
        max-width: 540px;
        max-height: 528px;
        position: relative;
        margin-left: 10.25rem;
    }
}