@import url(../../base.css);

.card-background {
    background-image: url(../../../images/bg-main-mobile.png);
    width: 100vw;
    height: 100vh;
    max-height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    width: 100vw;
    max-width: 344px;
    height: 100%;
    position: relative;
}

.card-front-side {
    background-image: url(../../../images/bg-card-front.png);
    width: 287px;
    height: 157px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 1rem;
    top: 8rem; 
       
}

.card-front-mask-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.125rem 1.375rem 1.375rem 1.125rem;
    display: flex;
    width: 287px;
    height: 157px;
}

.card-circles-wrapper{
    display: flex;
    justify-content: space-between;
    width: 54px;
}

.big-circle {
    background-color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.little-circle {
    background-color: transparent;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid white;
    align-self: center;
}

.card__number {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--white);
}

.card-bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.card__user__name {
    font-size: 0.5rem;
    color: var(--white);
}

.card__exp__date {
    font-size: 0.5rem;
    color: var(--white);
}

.card-back-side {
    background-image: url(../../../images/bg-card-back.png);
    width: 287px;
    height: 157px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
}

.card-back-mask-container {
    width: 287px;
    height: 157px;

}

.CVC {
    color: var(--white);
    font-size: 0.5rem;
    position: absolute;
    top: 46%;
    right: 13%;
}

/* @media screen and (min-width: 1024px)  {
    .card-background {
        background-image: url(../../../images/bg-main-desktop.png);
        max-height: max-content;
    }
} */