@import url(../../base.css);

.card-back-side {
    background-image: url(../../../images/bg-card-back.png);
    width: 287px;
    height: 157px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    right: -4rem;
    top: 2.75rem;
}

.card-back-mask-container {
    width: 287px;
    height: 157px;

}

.cvc {
    color: var(--white);
    font-size: 0.6rem;
    letter-spacing: 1px;
    position: absolute;
    top: 46%;
    right: 13%;
}

@media screen and (min-width: 1440px) {
    .card-back-side {
        width: 447px;
        height: 245px;
        right: -9.5rem;
        top: 16.6rem;
    }

    .cvc {
        font-size: 0.9rem;
    }
}